@import "tailwindcss";

@theme {
  --color-brand-purple: rgba(169, 62, 255, 1);
  --color-brand-blue: rgba(0, 179, 255, 1);
  --color-brand-dark-purple: #5e40de;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
